/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-attachment: fixed;
  background-color: var(--bg-color, #fff);
  background-image: var(
    --background-gradient,
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #e7e7e7,
      #1a1a1a 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      180deg, 
      #e7e7e7 0%, 
      #e7e7e7 0.01%, 
      #1a1a1a 100%)
  );
  background-size: cover;
  color: var(--accent-color, #000);
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--text-font-weight, 400);
  min-block-size: 100dvb;
  min-inline-size: 320px;
  padding-top: 100px;
}

.header {
  align-items: center;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font-family, sans-serif);
  margin: 0 auto 100px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px;
  text-transform: uppercase;
  width: var(--size-content, 50%);
}

.header__logo {
  font-size: var(
    --main-title-font-size,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
  margin-block-end: 20px;
  text-decoration: none;
}

.header__title {
  font-size: var(
    --title-font-size,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
  margin-block-end: 25px;
}

.theme-menu {
  display: flex;
  justify-content: center;
  transform: translateX(10px);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  animation: switch-moving 0.5s infinite ease-in-out alternate;
  content: "▶";
  opacity: 0.6;
  position: absolute;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::after {
  background-color: var(--accent-color, #000000);
  block-size: 2px;
  content: "";
  inline-size: 100%;
  inset-block-end: -1px;
  inset-inline-start: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleY(1);
}

.main {
  display: grid;
  gap: 54px;
  margin: 0 auto;
  max-width: 696px;
}

.section {
  background-color: var(--bg-color, #ffffff);
  border: 2px solid var(--accent-color, #000000);
}

.section__title {
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--title-font-weight, 700);
  padding: 3px 10px;
  line-height: 26px;
}

.card {
  border-block-end: 2px solid var(--accent-color, #000000);
  border-block-start: 2px solid var(--accent-color, #000000);
  position: relative;
}

.card img {
  display: block;
  height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  font-size: var(--main-font-size, 18px);
  gap: 27px;
  padding: 25px;
}

.card__contrast { filter: contrast(0.8); }
.card__grayscale { filter: grayscale(0.8); }
.card__invert { filter: invert(0.7); }
.card__saturate { filter: saturate(400%); }
.card__blur { filter: blur(0.1rem); }
.card__hue { filter: hue-rotate(45deg); }
.card__multiple-filter { filter: sepia(0.7) hue-rotate(18deg) saturate(150%); }
.card__sepia { filter: sepia(0.7); }

.card__label {
  color: var(--accent-color, #000000);
  display: block;
  font-family: var(--accent-font-family, sans-serif);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  position: absolute;
  right: 25px;
  text-shadow: 1px 1px 1px var(--btn-text-color, #ffffff);
  text-transform: uppercase;
  top: 25px;
}

@supports (-webkit-text-stroke: 1px var(--bg-color, #ffffff)) {
  .card__label {
    -webkit-text-stroke: 1px var(--bg-color, #ffffff);
    text-shadow: none;
  }
}

.card__buttons {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: end;
  padding: 0 25px 25px;
}

.card__icon-button {
  background: none;
  border: none;
  cursor: pointer;
  max-block-size: 38px;
  padding: 0;
  position: relative;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000000);
  transition: border 0.3s ease-in-out;
}

.btn {
  background: var(--bg-color, #ffffff);
  border: 2px solid var(--accent-color, #000000);
  color: var(--accent-color, #000000);
  cursor: pointer;
  font-family: var(--accent-font-family, sans-serif);
  padding: 9px 17px;
  position: relative;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color, #000000);
  transition: box-shadow 0.3s ease-in-out;
}

.button__text {
  color: var(--btn-text-color, #ffffff);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.btn:hover .button__text {
  mix-blend-mode: difference;
}

.btn::before {
  background-color: currentColor;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.btn:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  text-align: center;
  width: 130px;
}

.save-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 55px;
  justify-content: center;
  margin: 0 auto 105px auto;
  width: 340px;
}

.save-icon {
  fill: var(--btn-text-color, #ffffff);
  height: 21px;
  mix-blend-mode: difference;
  width: 21px;
}

.dialog {
  background: var(--bg-color, #ffffff);
  border: 2px solid var(--accent-color, #000000);
  color: var(--accent-color, #000000);
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  margin: auto auto;
  padding: 30px;
  text-transform: uppercase;
  width: clamp(341px, 50%, 357px);
}

dialog[open] {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  background-color: #000000;
  opacity: 0.75;
}

.dialog-window {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dialog__text {
  color: var(--accent-color, #000000);
  font-size: 14px;
  line-height: 150%;
  max-width: 234px;
  text-transform: uppercase;
}

.dialog__save-icon {
  fill: var(--btn-text-color, #ffffff);
  height: 39px;
  mix-blend-mode: difference;
  width: 39px;
}

.dialog__close-button {
  border: 2px solid var(--accent-color, #000000);
  cursor: pointer;
  font-size: 14px;
  height: 38px;
  padding: 9px 17px;
  text-align: center;
  text-transform: uppercase;
  width: 293px;
}

@media (width <= 376px) {


  .dialog {
    margin: auto 17px;
    padding: 30px 40px;
  }

  .dialog__text {
    max-width: 198px;
  }

  .dialog__close-button {
    width: 257px;
  }

  .header {
    width: 100%;
  }

  .save-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 80px;
    justify-content: center;
    width: 306px;
  }

  .section__title {
    padding: 4px 10px 6px 10px;
  }

  .main {
    gap: 50px;
    max-width: 375px;
  }
}